[user]
	name = Kiriakos Naiskes
	email = kiriakosnaiskes@gmail.com
[difftool]
	prompt = false

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
	pager = true

[diff]
	tool = vimdiff
[alias]
	d = difftool
